.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 300ms ease-in-out;
}

.marker.hover {
  transform: translate(-50%, calc(-65% + -35px));
  .shadow {
    transform: translateY(200%);
  }
}

.marker .head {
  z-index: 1;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translateY(5px);
  transition: 150ms ease-in-out;
  &::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.marker .stick {
  width: 3px;
  height: 30px;
  border-radius: 3px;
  background-color: #ec5962;
}

.marker .shadow {
  width: 9px;
  height: 3px;
  background-color: #3337;
  border-radius: 50%;
  transform: translateY(0%) scale(0);
  transition: 300ms ease-in-out;
}
